@import "https://unpkg.com/open-props";
.containerButton {
  display: flex;
  height: 10vh;
  justify-content: center;
  background-color: #34495e;

  .buttonSwitch {
    background: linear-gradient(to right, #3498db, #2ecc71);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 5s ease;
  
  &:hover {
    background: linear-gradient(
      to right,
      #1f618d,
      #117a65
    ); /* Nouveau gradient au survol */
  }

  z-index: -1;
}
}

@media (min-width: 1367px) {
  .containerButton {
    .buttonSwitch {
      width: 40vw;
      font-size: 2.2rem;
    }
  }
}
@media (min-width: 1400px) {
  .containerButton {
    .buttonSwitch {
      width: 40vw;
      font-size: 2.5rem;
    }
  }
}
