.containerPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #34495e;
  height: 83vh;
  .containerNameEtTitre {
    height: 25vh;
    padding-top: 25px;
    .name {
      font-size: 5rem;
    }
    .titles {
      display: flex;
      flex-direction: column;
      align-items: center;

      .porte {
        font-size: 3rem;
      }
      .folio {
        font-size: 2rem;
        color: #e9bcb7;
      }
    }
  }
  .containerProjets {
    width: 100vw;
    .pro {
      font-size: 2rem;
      padding-left: 2rem;
    }
    .projectCard {
      .projet {
        text-align: center;
      }
      img {
        object-fit: cover;
        height: 40vh;
        width: 95vw;
        border-radius: 15px;
        padding-bottom: 1vh;
        &:hover {
          transform: scale(1.04);
          transition: 0.3s;
        }
      }
      .projets{
        display: flex;
        justify-content: center;
      }
    }
  }
}
@media (min-width: 700px) {
  .containerProjets {
    .projectCard {
      .projet {
        img {
          width: 75vw;
        }
      }
    }
  }
}
@media (min-width: 850px) {
  .containerProjets {
    .projectCard {
      .projet {
        img {
          width: 55vw;
        }
      }
    }
  }
}
@media (min-width: 1367px) {
  .containerProjets {
    .projectCard {
      .projet {
        img {
          width: 40vw;
        }
      }
    }
  }
}
@media (min-width: 1400px) {
  .containerPrincipal {
    padding-top: 0;
    .containerNameEtTitre {
      padding-top: 0;
      .titles {
        flex-direction: row;
        padding-left: 50px;
        .porte {
          font-size: 5rem;
        }
        .folio {
          font-size: 3rem;
          color: #e9bcb7;
        }
      }
    }
    .containerProjets {
      .pro {
        font-size: 3rem;
      }
    }
    .projectCard {
      display: flex;
      gap: 50px;
      justify-content: center;
      .projet {
        padding-bottom: 15px;
        h1 {
          padding-bottom: 15px;
        }
        img {
          filter: grayscale(100%);
          background: transparent;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          width: 15vw;
          &:hover {
            filter: grayscale(0);
            width: 45vw;
          }
        }
      }
      .projets{
        display: flex;
        align-items: center;
      }
    }
  }
}
