.containerPrincipal {
  display: flex;
  .containerNameEtTitre {
    display: flex;
    padding-top: 2%;
    padding-left: 2%;
    .name {
      font-size: 3rem;
    }
    .Porte {
      font-size: 5rem;
      padding-top: 4%;
    }
    .Folio {
      font-size: 3rem;
      padding-top: 5.7%;
      color: #E9BCB7;
    }
    .containerProjets {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80vh;
      width: 65vw;
      .pro {
        font-size: 3rem;
      }
      .jets {
        font-size: 3rem;
        color: #E9BCB7;
        margin-right: 10px;
      }
      .projectCard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50vw;
        height: 50vh;
        .projet1,
        .projet2,
        .projet3 {
          width: 15vw;
          height: 40vh;
          img {
            transition: transform 0.3s;
            &:hover {
              transform: scale(1.06);
              transition: 0.3s;
              box-shadow: 5px 5px 10px 0px #E9BCB7;
            }
          }
        }
        .projet1 .projet2 .projet3,
        h1 {
          font-size: 20px;
          padding-bottom: 1vh;
        }
        projet1,
        .sharring {
          position: absolute;
          border: 2px solid black;
          cursor: pointer;
          border-radius: 10px;
          object-fit: cover;
          width: 15vw;
          height: 40vh;
        }
        projet2,
        .wildClash {
          cursor: pointer;
          border: 2px solid black;
          border-radius: 10px;
          object-fit: cover;
          width: 15vw;
          height: 40vh;
        }
        projet3,
        .wildTube {
          cursor: pointer;
          border: 2px solid black;
          border-radius: 10px;
          object-fit: cover;
          width: 15vw;
          height: 40vh;
        }
      }
    }
  }
}
