.containerPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;

  .containerNameEtTitre {
    height: 20vh;

    .name {
      font-size: 2rem;
    }

    .titles {
      display: flex;
      flex-direction: column;
      align-items: center;

      .porte {
        font-size: 2rem;
        padding-top: 4%;
      }

      .folio {
        font-size: 2rem;
        padding-top: 1vh;
        color: #e9bcb7;
      }
    }
  }

  .containerProjets {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;

    .pro {
      font-size: 2rem;
      margin-bottom: 1vh;
      color: #e9bcb7;
    }

    .projectCard {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .projet {
        width: 100%;
        margin-bottom: 2vh;
        text-align: center;

        h1 {
          font-size: 20px;
          padding-bottom: 1vh;
        }

        img {
          transition: transform 0.3s;
          cursor: pointer;
          object-fit: cover;
          border: 2px solid black;
          border-radius: 10px;
          width: 100%;

          &:hover {
            transform: scale(1.04);
            box-shadow: 4px 4px 4px 0px #e9bcb7;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
@media (min-width: 1920px) {
  .containerPrincipal {
    align-items: flex-start;
    .containerNameEtTitre {
      .name {
        font-size: 4rem;
      }
      .titles {
        flex-direction: row;
        padding: 4rem;
        .porte {
          font-size: 4rem;
        }
        .folio {
          font-size: 5rem;
        }
      }
    }
    .containerProjets {
      .pro {
        font-size: 4rem;
        margin-bottom: 3vh;
      }
    }
    .projectCard {
      width: 45vw;
      gap: 50px;
      flex-direction: row !important;
      .projet {
        height: 45vh;
        img {
          height: 40vh;
        }
      }
    }
  }
}
