@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:wght@300&family=Poppins&family=Tilt+Neon&display=swap');

*{
    background-color: #32645B;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
    padding: 0;
    color: white;

}

html,body, :root{
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    overflow-y : hidden;
}

:root{
    font-size: 10px;
}